<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <div align="middle">
            <h2 style="text-align: center;">File Successfully Uploaded!</h2>
            <img src=" {{url_for('send_image', filename=image_name)}}" width="40%" height="40%">
        </div>
        <h3 style="text-align: center;">Similar Images</h3>]
        <img src=" {{ variable[0] }}" alt="Image list" width="40%" height="40%">
        <img src=" {{ variable[1] }}" alt="Image list" width="40%" height="40%">
        <img src=" {{ variable[2] }}" alt="Image list" width="40%" height="40%">
        <img src=" {{ variable[3] }}" alt="Image list" width="40%" height="40%">
        <img src=" {{ variable[4] }}" alt="Image list" width="40%" height="40%">
        <a href="{{ url_for('index') }}"><input class="btn" type="button" value="Reupload Image" /></a>

    </body>
</html>