* {
  box-sizing: border-box;
}
body {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  }
  .header {
    overflow: hidden;
    background-color: #8FFF93;
    position: relative;
    top: 0;
    width: 100%;
    border-bottom-right-radius: 20px 15px;
    border-bottom-left-radius: 20px 15px;
  }
  .header a {
    display: block;
    color: #212329;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    /* font-family: 'Allerta Stencil', sans-serif; */
    font-family: masqualero, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 2px 2px 2px gray;
  }
  .header a:hover {
    text-decoration: none;
    color: #212329;
    text-shadow: 2px 2px 2px gray;
  }

.main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
    text-align: center;
  }
  .topmain {
    text-align:center;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
  }
  .top{
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    color: #FFFFFF;
    padding-top: 10%;
    font-weight: 300;
    text-shadow: 3px 3px 3px #111;
  }

  .top:first-of-type {
    animation: showup 7s infinite;
    }

    .top:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
    }

    .top:last-of-type span {
    margin-left:-26.5%;
    animation: slidein 7s infinite;
    }

    @keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0; }
    }

    @keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
    }

    @keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:26.5%;}
    80% {opacity:1;}
    100% {opacity:0;width:26.5%;}
    }

  .middle {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #title{
    width: auto;
    text-align: center;
    font-size: 70px;
    font-family: 'Jost', sans-serif;
    text-shadow: 3px 3px 3px #111;
    color: #FFFFFF;
    font-weight: 500;
  }

  .char2{
    font-size: 70px;
    animation: an2 1s ease-out 1 both;
    display: inline-block;
  }

  @keyframes an2{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}


  .topbottom{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text{
    width: 40%;
    font-size: 14px;
    text-align: center;
    color: #D2CFD6;
    font-family: 'Jost', sans-serif;
    font-weight: 100;
}

.char{
    font-size: 14px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}


  #reupload{
    padding-top: 3%;
  }

#submitBt{
      margin-top: 10%;
  }

.content{
  /* width: 50%; */
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
.main {
    border: 2px solid #8FFF93;
    margin-left: 20%;
    margin-right: 20%;
    border-width: 2px 2px 2px;
    background-color: #D2CFD6;
    border-radius: 30px 30px;
    justify-content: center;
    -moz-box-shadow: 7px 7px 6px #111;
    -webkit-box-shadow: 7px 7px 6px #111;
    box-shadow: 7px 7px 6px #111;
}
#uploadHeader {
  font-size: 32px;
  font-family: 'Jost', sans-serif;
  color: #535559;
  margin-top: 10%;
  margin-bottom: 7%;
}
  .btn-container{
  background:#fff;
  border-radius:20px;
  padding-bottom:20px;
  margin-bottom:20px;
  margin: 0 auto;
  padding-top: 5%;
  }
  .white{
  color:white;
  }

.imgupload{
  color:#1E2832;
  padding-top:40px;
  font-size: 80px;
  font-family: 'Jost', sans-serif;
  padding-top: 5%;
  border-radius:10px;
  }

#namefile{
  font-family: 'Jost', sans-serif;
  color:black;
  padding-bottom: 5%;
  border-radius:10px;
  }
h4>strong{
  color:#EE3C47
  }

.btn-primary{
  border-color: #EE3C47 !important;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #EE3C47 !important;
  border-color: #EE3C47 !important;
  border-radius:10px;
  }

/*these two are set to not display at start*/
  .imgupload.ok{
  display:none;
  color:green;
  }
  .imgupload.stop{
  display:none;
  color:red;
  }
  /*this sets the actual file input to overlay our button*/
  #fileup{
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  width:200px;
  cursor: pointer;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  height: 50px;
  }
#submitbtn{
    padding:5px 50px;
    display:none;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 7%;
    border-radius:10px;
  }
  #fakebtn{
    padding:5px 40px;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 7%;
    border-radius:10px;
  }
